.customCheckboxLabel {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .hidden-checkbox {
    display: none;
  }
  
  .customCheckboxLabel::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .hidden-checkbox:checked + .customCheckboxLabel::before {
    transform: translateX(20px);
  }
  
  .hidden-checkbox:checked + .customCheckboxLabel {
    background-color: rgb(32,32,32);
  }
  
  .hidden-checkbox:checked + .customCheckboxLabel::before {
    background-color: #fff;
  }